<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Crave</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="https://avatars1.githubusercontent.com/u/13907863?v=3&s=200">
</head>
<body data-ng-app="craveApp">
  <header id="header">
    <a href="#/home">
      <h1>Crave</h1>
    </a>
    <section class="loginform" data-ng-controller="authController">
      <form method="post" data-ng-if="!isSignedIn">
        <p>Sign in to vote on your favorite restaurants!</p>
        <input type="text" name="loginusername" placeholder="username" data-ng-model="user.username">
        <input type="password" name="loginpassword" placeholder="password" data-ng-model="user.password">
        <button data-ng-click="authSubmit(user)">Login</button>
        <button data-ng-click="createUser(user)">Create User</button>
      </form>
      <button data-ng-if="isSignedIn" data-ng-click="signOut(user)">Log Out</button>
    </section>
  </header>
  <main data-ng-controller="foodController">
    <article id="search">
        <form data-ng-submit="searchFood(food)">
            <h3>What are you Craving?</h3>

            <input type="text" placeholder="ex. 'hamburger'" class="input-item" data-ng-model="food.food">
            <button>Search</button>
        </form>
    </article>

    <section data-ng-view>
    </section>
  </main>
  <footer id="footer">
    <a href="https://github.com/craved/crave">
      <img src="./GitHub-Mark-Light-32px.png" alt="Link to Crave GitHub">
    </a>
    <a href="#/about">About</a>
    <p>Crave Team, &copy; 2015</p>
  </footer>
  <script src="js/bundle.js"></script>
</body>
</html>
