* {
  font-family: 'Roboto', sans-serif;
  color: #002F2F;
  /*font-size: 100%*/
}

body {
  margin: 0;
  padding: 0;
}

article {
    float: left;
    display: inline-block;
    width: 60%;
    margin-left: 60px;
}

aside {
  float: right;
  /* display: inline-block; */
  width: 25%;
  margin-right: 30;
}

a{
  text-decoration: none;
}


#header h1 {
color: #EFECCA;
font-size: 44px;
}

#signintext {
  color: #FFFFFF;
}

#header, #footer {
  background-color: #002F2F;
  color: #EFECCA;
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 20px 40px;
  position: relative;
  clear: both;
}

.loginform {
  position: absolute;
  top: 20px;
  right: 10px;
}

.loginform p {
 font-size: 14px;
}

#signin {
  font-size: 16px;
  margin: 0;
  color: #FFFFFF;
}

#search {
  background-color: #E6E2AF;
  font-size: 300%;
  color: #405952;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h3 {
  margin: 0;
  color: #405952;
  top: 120px;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
}

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  width: 300px;
  transition: box-shadow 0.3s, border 0.3s;
}

.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  width: 300px;
  box-shadow: 0 0 5px 1px #969696;
}

#main {
  background-color: #1C1D26;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

#main p {
  color: #999999;
}

#homepage p::first-letter {
  text-transform: capitalize;
}

td {
  border: 1px solid red;
}

li {
  color: #EFECCA;
}

.item-result {
  overflow:hidden;
  padding: 20px 20px 20px 20px;
  position: relative;
  min-height: 200px;
}
.item-image {
  float: left;
}
.item-info {
  float: left;
}

#yelp {
  overflow: hidden;
  color: #EFECCA;
  background-color: #405952;
  padding: 20px 20px 20px 200px;
  width: 30%;
  position: relative;
}

#yelp .yelp-votes {
  position: absolute;
  top: 20px;
  left: 20px;
  width:100px;
  height:100px;
}

#yelp .yelp-img {
  position: absolute;
  width: 40%;
}

#yelp .yelp-info {
  float: left;
  width: 50%;
}

#yelp .yelp-logo {
  clear: both;
}

#yelp .item-image {
 position: absolute;
 top: 20px;
 left: 20px;
}


#foodPostLeft {
    float: left;
    margin: 10 50;
    font-size: 40;
}


#foodComment {
  clear: both;

}

#about {
  background-color: #405952;
  margin: 0 auto;
  padding: 20px;
  clear: both;
  height: 350px;
  text-align: center;
}

#about h1 {
  text-align: center;
  font-size: 24pt;
}

#about li {
  float: left;
  width: 30%;
  margin: 0 auto 10px auto;
}

.profile-photo {
  width: 50%;
  height: auto;
  margin: 0 auto 10px auto;
}

#footer p, #footer a {
  color: #EFECCA;
}

#noRest {
  color: #405952;
}
