* {
  font-family: 'Roboto', sans-serif;
  color: #332532;
  /*font-size: 100%*/
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


#header h1 {
  font-family: 'Lato', sans-serif;
  color: #F77A52;
  font-size: 44px;
}

#signintext {
  color: #FFFFFF;
}

#header, #footer {
  background-color: #191219;
  color: #332532;
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 20px 40px;
  position: relative;
  clear: both;
}

.loginform {
  position: absolute;
  top: 20px;
  right: 10px;
}

.loginform p {
  font-size: 14px;
}

#signin {
  font-size: 16px;
  margin: 0;
  color: #FFFFFF;
}

#search {
  background-color: #D3D3D3;
  font-size: 300%;
  color: #332532;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

#search h3 {
  font-family: 'Lato', sans-serif;
}

#homepage {
  padding: 20px 40px;
}

h1,
h2,
h3 {
  margin: 0;
}

h3 {
  margin: 0;
  color: #644D52;
  top: 120px;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
}

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  width: 300px;
  transition: box-shadow 0.3s, border 0.3s;
}

.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  width: 300px;
  box-shadow: 0 0 5px 1px #969696;
}

#main {
  background-color: #1C1D26;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

#main p {
  color: #999999;
}

#homepage p::first-letter {
  text-transform: capitalize;
}

#homepageFood p {
  font-size: 20;
  font-weight: bold;
}

#homepage h2 {
  font-size: 25;
}

#intro {
  font-size: 25;
}

td {
  border: 1px solid red;
}

li {
  color: #EFECCA;
  list-style-type: none;
}

.item-result {
  overflow:hidden;
  padding: 20px 20px 20px 20px;
  position: relative;
}
.item-image {
  float: left;
}
.item-info {
  float: left;
}

#yelp {
  overflow: hidden;
  color: #EFECCA;
  background-color: #644D52;
  padding: 20px 20px 20px 200px;
  width: 30%;
  position: relative;
}

#yelp .yelp-votes {
  position: absolute;
  top: 20px;
  left: 20px;
  width:100px;
  height:100px;
}

#yelp .yelp-img {
  position: absolute;
  width: 40%;
}

#yelp .yelp-info {
  float: left;
  width: 50%;
}

#yelp .yelp-logo {
  clear: both;
  text-align: right;
}

#yelp .item-image {
 position: absolute;
 top: 40px;
 left: 60px;
}



#about {
  background-color: #1F161E;
  margin: 0 auto;
  padding: 20px;
  clear: both;
  height: 350px;
  text-align: center;
}

#about h1 {
  color: #D3D3D3;
  text-align: center;
  font-size: 24pt;
}

#about h2, #about p {
  color: #D3D3D3;
}

#about li {
  float: left;
  width: 30%;
  margin: 0 auto 10px auto;
}

.profile-photo {
  width: 50%;
  height: auto;
  margin: 0 auto 10px auto;
}

#footer {
  text-align: center;
}

#footer p, #footer a {
  color: #A49A87;
}

#noRest {
  color: #405952;
}

#restName {
  font-size: 40;
}

#foodTitle {
  margin: auto;
  width: 80%;
  font-size: 50;
  text-align: center;
  padding: 10px;
  font-family: 'Lato', sans-serif;
}

#food > * {
  margin: auto;
  width: 80%;
  /*border: 3px solid #8AC007;*/
  padding: 10px;
}

#foodPost {
  margin: auto;
  width: 80%;
  /*border: 3px solid #8AC007;*/
  padding: 10px;
  padding-top: 40px;
}

#foodPostButton {
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 10px;
}

#foodPostLeft {
  float: left;
  margin: auto;
  width: 25%;
  text-align: center;
  font-size: 60;
  padding: 5% 10px;
}

#foodComment {
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 10px;
  font-style: italic;
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.centerText {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
}

.crave {
  color: #F77A52;
}

.craveSearch {
  font-size: 20;
  margin-bottom: 0;
  padding-bottom: 0;
}

.craveSearch:focus {
  color: #F77A52;
}

#homepageFood {
  background-color: #D3D3D3;
  margin: auto;
  padding-top: 10;
  padding-bottom: 10;
}

#restPostList {
  padding-bottom: 40px;

.button {
  min-width: 3em;
  border: none;
  border-radius: 0.75em;
  padding: 4px;
  text-transform: uppercase;
  background-color: #F77A52;
  color: white;
  box-shadow: 0 3px 0 #BF5E3F;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.button:active {
  box-shadow: 0 1px 0 #007f25;
  -webkit-transform: translateY(3px);
  transform: translateY(2px);
}
