<section id="about">
  <h1>About the Makers</h1>
  <ul>
    <li>
      <img class="profile-photo" src="https://avatars1.githubusercontent.com/u/11603727?v=3&s=326" alt="Photo of Vi Dang">
      <p>Vi Dang</p>
      <a href="https://github.com/dangitsvi">
        <img src="./GitHub-Mark-Light-32px.png" alt="Vi Dang's GitHub Profile">
      </a>
      <a href="https://www.linkedin.com/in/dangitsvi">
        <img src="./linkedin-button.png" width="32" height="32" alt="Vi Dangs's LinkedIn Profile">
      </a>
    </li>
    <li>
      <img class="profile-photo" src="https://avatars1.githubusercontent.com/u/10524140?v=3&s=326" alt="Photo of Hana Fallisgaard">
      <p>Hana Fallisgaard</p>
      <a href="https://github.com/hfgaard">
        <img src="./GitHub-Mark-Light-32px.png" alt="Hana Fallisgaard's GitHub Profile">
      </a>
      <a href="https://www.linkedin.com/in/hanafallisgaard">
        <img src="./linkedin-button.png" width="32" height="32" alt="Hana Fallisgaard's LinkedIn Profile">
      </a>
    </li>
    <li>
      <img class="profile-photo" src="https://avatars2.githubusercontent.com/u/11163566?v=3&s=400" alt="Photo of Lauren McNerney">
      <p>Lauren McNerney</p>
      <a href="https://github.com/lmcnern">
        <img src="./GitHub-Mark-Light-32px.png" alt="Lauren McNerney's GitHub Profile">
      </a>
      <a href="https://www.linkedin.com/in/laurenmcnerney">
        <img src="./linkedin-button.png" width="32" height="32" alt="Lauren McNerney's LinkedIn Profile">
      </a>
    </li>
  </ul>
</section>
