<section class="loginform" data-ng-controller="authController">
  <form method="post" data-ng-submit="authSubmit(user)">
    <p>
      <input type="text" name="loginusername" placeholder="username" data-ng-model="user.username">
    </p>
    <p>
      <input type="text" name="loginpassword" placeholder="password" data-ng-model="user.password">
    </p>
    <p class="remember_login">
      <label>
        <input type="checkbox" name="remember_login" id="remember_login">
        Remember me on this computer
      </label>
    </p>
    <button>Login</button>
  </form>
</section>
