<div id="yelp" class="item-result">
  <a href="{{restaurant.url}}">
  <img class="item-image" src="{{restaurant.image_url}}" alt="Yelp Thumbnail Photo">
  <ul class="item-info">
    <li id="restName">{{restaurant.name}}</li>
    <li>{{restaurant.location.display_address.join(' ')}}</li>
    <li><img id="yelprating" src="{{restaurant.rating_img_url_small}}" alt="Yelp Review Rating"></li>
    <li>{{restaurant.review_count}} Reviews</li>
  </ul>
  <div class="yelp-logo">
    <img src="//s3-media2.fl.yelpcdn.com/assets/srv0/developer_pages/14f29ad24935/assets/img/yelp_logo_40x20.png" alt="Yelp Logo, mini" width="40" height="20"></div>
</a>
</div>
